@model IEnumerable<fil_rouge.Models.Reservation_Hotel>
@using Microsoft.AspNetCore.Identity


@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usr = new IdentityUser();
    var role = new IdentityRole();
}

<h1>Index</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Student"))
        {
            <a asp-action="Create">Create New</a>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datedebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datefin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsValid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idhotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datedebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datefin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsValid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idhotel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClient)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
